* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


nav {
    display: flex;
    justify-content: center;
    height: 104px;
    line-height: 104px;
    gap: 186px;
}


.nav-logo {
    display: flex;
    height: 48px;
    line-height: 48px;
    gap: 10px;
    margin-top: 28px;
}


.nav-logo img {
    width: 48px;
    height: 48px;
}


.nav-texts {
    display: flex;
    justify-content: center;
}


.navtext {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    width: 100px;
    transition: 0.3s;
}


.navtext:hover {
    font-weight: 700;
}

.nav-contact {
    display: flex;
    gap: 12px;
    line-height: 40px;
    height: 40px;
    margin-top: 32px;
}


.nav-contact img {
    width: 40px;
    height: 40px;
}


.nav-contact-texts p {
    font-size: 16px;
    font-weight: 400;
    margin-top: -13px;
}


.nav-contact-texts h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: -15px;
}


.header-box-register1 {
    width: 416px;
    height: 523px;
    border-radius: 20px;
    background-color: #5937E0;
    margin-top: 78px;
    padding-top: 6px;
}


.header-box-register1 h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}


.dropdown {
    width: 336px;
    height: 38px;
    line-height: 38px;
    color: black;
    background-color: transparent;
    border-radius: 12px;
    text-align: left;
    display: flex;
    gap: 60px;
    padding-left: 36px;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    background-color: #694BE3;
}


.dropdown-texts {
    gap: 230px;
    display: flex;
}


.dropdown-texts-3 {
    gap: 120px;
    display: flex;
}


.dropdown h6 {
    font-size: 25px;
    font-weight: 400;
}


.dropdown-list {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 500px;
    justify-content: center;
    backdrop-filter: blur(4px);
    width: fit-content;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}


.dropdown:hover .dropdown-list {
    display: block;
    margin-top: 30px;
    margin-left: -10px;
}


.dropdown-list p {
    width: 336px;
    height: 38px;
    line-height: 38px;
    color: black;
    background-color: #FAFAFA;
    border-radius: 12px;
    margin-top: 10px;
    text-align: center;
    transition: 0.3s;
}


.dropdown-list p:hover {
    background-color: #FF9E0C;
    transform: scale(1.1);
}


.header-box-register1 input {
    width: 336px;
    height: 38px;
    line-height: 38px;
    color: black;
    background-color: #694BE3;
    border-radius: 12px;
    border: 0px;
    gap: 60px;
    padding-left: 36px;
    margin-top: 30px;
    margin-left: 40px;
    padding-right: 36px;
}


.header-box-register1 button {
    width: 336px;
    height: 38px;
    line-height: 38px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #FF9E0C;
    border-radius: 12px;
    border: 0px;
    padding-left: 36px;
    margin-top: 30px;
    margin-left: 40px;
    padding-right: 36px;
    transition: 0.3s;
}


.header-box-register1 button:hover {
    transform: scale(1.1);
}


.contact-header h5 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
}


.header-booking {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.contact-header img {
    width: 856px;
    height: 524px;
    margin-top: 77px;
}


.contacts {
    display: flex;
    gap: 12px;
    height: 64px;
    line-height: 64px;
}


.contacts-texts {
    margin-top: 60px;
}


.contacts-texts h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: -35px;
}


.contacts-texts p {
    font-size: 20px;
    font-weight: 400;
}


.header-contact-numbers {
    display: flex;
    justify-content: center;
    gap: 66px;
    margin-top: 60px;
}