* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


nav {
    display: flex;
    justify-content: center;
    height: 104px;
    line-height: 104px;
    gap: 186px;
}


.nav-logo {
    display: flex;
    height: 48px;
    line-height: 48px;
    gap: 10px;
    margin-top: 28px;
}


.nav-logo img {
    width: 48px;
    height: 48px;
}


.nav-texts {
    display: flex;
    justify-content: center;
}


.navtext {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    width: 100px;
    transition: 0.3s;
}


.navtext:hover {
    font-weight: 700;
}

.nav-contact {
    display: flex;
    gap: 12px;
    line-height: 40px;
    height: 40px;
    margin-top: 32px;
}


.nav-contact img {
    width: 40px;
    height: 40px;
}


.nav-contact-texts p {
    font-size: 16px;
    font-weight: 400;
    margin-top: -13px;
}


.nav-contact-texts h2 {
    font-size: 16;
    font-weight: 600;
    margin-top: -15px;
}


header {
    display: flex;
    justify-content: center;
}


.header-box {
    display: flex;
    gap: 74px;
}


.header-box {
    width: 1296px;
    height: 660px;
    border-radius: 40px;
    background-color: #5937E0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 72px;
}


.header-box-texts {
    margin-top: 168px;
}


.header-box-texts h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 600px;
}


.header-box-texts p {
    font-size: 16px;
    font-weight: 400;
    width: 380px;
    color: white;
    margin-top: 27px;
}


.header-box-texts button {
    width: 164px;
    height: 50px;
    border: 0px;
    border-radius: 12px;
    color: white;
    background-color: #FF9E0C;
    font-size: 16px;
    font-weight: 600;
    margin-top: 33px;
}


.header-box-register {
    width: 416px;
    height: 503px;
    border-radius: 20px;
    background-color: white;
    margin-top: 78px;
}


.header-box-register h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}