* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Nav */

nav {
    display: flex;
    justify-content: center;
    height: 104px;
    line-height: 104px;
    gap: 186px;
}


.nav-logo {
    display: flex;
    height: 48px;
    line-height: 48px;
    gap: 10px;
    margin-top: 28px;
}


.nav-logo img {
    width: 48px;
    height: 48px;
}


.nav-texts {
    display: flex;
    justify-content: center;
}


.navtext {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    width: 100px;
    transition: 0.3s;
}


.navtext:hover {
    font-weight: 700;
}

.nav-contact {
    display: flex;
    gap: 12px;
    line-height: 40px;
    height: 40px;
    margin-top: 32px;
}


.nav-contact img {
    width: 40px;
    height: 40px;
}


.nav-contact-texts p {
    font-size: 16px;
    font-weight: 400;
    margin-top: -13px;
}


.nav-contact-texts h2 {
    font-size: 16;
    font-weight: 600;
    margin-top: -15px;
}


/* Nav */

/* Header */


header {
    display: flex;
    justify-content: center;
}


.header-box {
    display: flex;
}


.header-box {
    width: 1296px;
    height: 660px;
    border-radius: 40px;
    background-color: #5937E0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 72px;
}


.header-box-texts {
    margin-top: 168px;
    width: 700px;
}


.header-box-texts h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 600px;
}


.header-box-texts p {
    font-size: 16px;
    font-weight: 400;
    width: 380px;
    color: white;
    margin-top: 27px;
}


.header-box-texts button {
    width: 164px;
    height: 50px;
    border: 0px;
    border-radius: 12px;
    color: white;
    background-color: #FF9E0C;
    font-size: 16px;
    font-weight: 600;
    margin-top: 33px;
    transition: 0.3s;
}


.header-btn {
    width: 264px;
    height: 50px;
    border: 0px;
    border-radius: 12px;
    color: white;
    background-color: #FF9E0C;
    font-size: 16px;
    font-weight: 600;
    margin-top: 33px;
    transition: 0.3s;
}


.header-box-texts button:hover {
    transform: scale(1.1);
}


.header-box-register {
    width: 416px;
    height: 503px;
    border-radius: 20px;
    background-color: white;
    margin-top: 78px;
}


.header-box-register h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}


.dropdown1 {
    width: 336px;
    height: 38px;
    line-height: 38px;
    color: black;
    background-color: #FAFAFA;
    border-radius: 12px;
    text-align: left;
    display: flex;
    gap: 60px;
    padding-left: 36px;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
}


.dropdown-texts {
    gap: 230px;
    display: flex;
}


.dropdown-texts-3 {
    gap: 120px;
    display: flex;
}


.dropdown1 h6 {
    font-size: 25px;
    font-weight: 400;
}


.dropdown-list {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 500px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(4px);
    width: fit-content;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}


.dropdown1:hover .dropdown-list {
    display: block;
    margin-top: 30px;
    margin-left: -10px;
}


.dropdown-list p {
    width: 336px;
    height: 38px;
    line-height: 38px;
    color: black;
    background-color: #FAFAFA;
    border-radius: 12px;
    margin-top: 10px;
    text-align: center;
    transition: 0.3s;
}


.dropdown-list p:hover {
    background-color: #FF9E0C;
    transform: scale(1.1);
}


.header-box-register input {
    width: 336px;
    height: 38px;
    line-height: 38px;
    color: black;
    background-color: #FAFAFA;
    border-radius: 12px;
    border: 0px;
    gap: 60px;
    padding-left: 36px;
    margin-top: 30px;
    margin-left: 40px;
    padding-right: 36px;
}


.header-box-register button {
    width: 336px;
    height: 38px;
    line-height: 38px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #FF9E0C;
    border-radius: 12px;
    border: 0px;
    padding-left: 36px;
    margin-top: 30px;
    margin-left: 40px;
    padding-right: 36px;
    transition: 0.3s;
}


.header-box-register button:hover {
    transform: scale(1.1);
}


/* Header */


/* Section */

.section-part-1-item {
    width: 317px;
    height: 194px;
    text-align: center;
}


.section-part-1-item h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}

.section-part-1-item p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-top: 29px;
}

.section-part-1-items {
    display: flex;
    justify-content: center;
    gap: 112px;
    margin-top: 60px;
}


.section-part-2 {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-top: 160px;
}


.section-part-2-text h1 {
    display: flex;
    line-height: 32px;
    height: 32px;
    margin-top: 29px;
    gap: 16px;
}


.section-part-2-text h2 {
    font-size: 16px;
    font-weight: 600;
    width: 32px;
    height: 32px;
    background-color: #5937E0;
    border-radius: 16px;
    text-align: center;
    color: white;
}


.section-part-2-text h4 {
    font-size: 20px;
    font-weight: 400;
}


.section-part-2-text p {
    font-size: 16px;
    font-family: 400;
    color: #00000099;
    width: 500px;
    margin-top: 20px;
}


section {
    margin-bottom: 160px;
}

/* Section */

/* Main */

.main-texts {
    display: flex;
    justify-content: space-around;
    gap: 600px;
}


.main-texts h1 {
    font-size: 50px;
    font-weight: 700;
    width: 580px;
}


.main-texts p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 94px;
    text-decoration: none;
}


.main-shop {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}


.main-shop img {
    width: 368px;
    height: 24px;
}


.main-shop-item {
    width: 416px;
    height: 513px;
    background-color: #FAFAFA;
    border-radius: 20px;
    padding: 24px;
}


.main-shop-item-texts {
    display: flex;
    justify-content: space-between;
}


.main-shop-item-texts p {
    font-size: 28px;
    font-weight: 600;
    color: #5937E0;
    margin-top: 1px
}


.main-shop-item-texts h1 {
    font-size: 24px;
    font-weight: 600;
    color: black;
}


.main-shop-item-texts h3 {
    font-size: 16px;
    font-weight: 400;
    color: #00000099;
    margin-top: 4px;
}


.main-shop button {
    width: 368px;
    height: 50px;
    border: 0px;
    border-radius: 12px;
    background-color: #5937E0;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 50px;
}


.main-shop button:hover {
    transform: scale(1.1);
}


.main-part-2 {
    text-align: center;
    background-color: #5937E0;
    border-radius: 20px;
    width: 1296px;
    height: 486px;
    margin-top: 120px;
    padding-top: 70px;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.numbers-item {
    width: 240px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 16px;
    display: flex;
    text-align: left;
    gap: 16px;
}


.numbers-item img {
    background-color: #FF9E0C;
    width: 72px;
    height: 68px;
    border-radius: 12px;
    padding: 15px;
}


.numbers-item h1 {
    font-size: 24px;
    font-weight: 700;
}


.numbers-item p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}


.number-item-texts {
    margin-top: 7px;
}


.main-part-2-numbers {
    display: flex;
    gap: 64px;
    justify-content: center;
    padding-top: 80px;
    width: 100%;
}


.main-part-3 {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-top: 60px;
}


.main-part-3-texts {
    width: 480px;
    padding-top: 131px;
}


.main-part-3-texts h1 {
    font-size: 50px;
    font-weight: 700;
    width: 300px;
}


.main-part-3-texts p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
}


/* Main */


/* Footer */

.footer-part-1 {
    width: 1296px;
    height: 415px;
    background-color: #5937E0;
    border-radius: 20px;
    margin-top: 120px;
    padding-top: 58px;
    display: flex;
    gap: 70px;
}


.footer-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.footer-part-1 h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    width: 750px;
    height: 150px;
    padding-left: 86px;
}


.footer-part-1 p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    width: 586px;
    padding-left: 86px;
}


.footer-part-1 input {
    width: 486px;
    height: 60px;
    background-color: white;
    border: 0px;
    border-radius: 20px;
    color: #6C757D;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 86px;
    margin-top: 37px;
}


.footer-part-1 button {
    width: 111px;
    height: 40px;
    border: 0px;
    border-radius: 12px;
    background-color: #FF9E0C;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: -120px;
    transition: 0.3s;
}


.footer-part-1 button:hover {
    background-color: #5937E0;
}


footer img {
    width: 100%;
    margin-top: 60px;
}