* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


nav {
    display: flex;
    justify-content: center;
    height: 104px;
    line-height: 104px;
    gap: 186px;
}


.nav-logo {
    display: flex;
    height: 48px;
    line-height: 48px;
    gap: 10px;
    margin-top: 28px;
}


.nav-logo img {
    width: 48px;
    height: 48px;
}


.nav-texts {
    display: flex;
    justify-content: center;
}


.navtext {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    width: 100px;
    transition: 0.3s;
}


.navtext:hover {
    font-weight: 700;
}

.nav-contact {
    display: flex;
    gap: 12px;
    line-height: 40px;
    height: 40px;
    margin-top: 32px;
}


.nav-contact img {
    width: 40px;
    height: 40px;
}


.nav-contact-texts p {
    font-size: 16px;
    font-weight: 400;
    margin-top: -13px;
}


.nav-contact-texts h2 {
    font-size: 16;
    font-weight: 600;
    margin-top: -15px;
}


.header-about-texts {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 120px;
}


.header-about-texts h1 {
    font-size: 50px;
    font-weight: 700;
    width: 300px;
}


.header-about-text-1 h2 {
    font-size: 28px;
    font-weight: 600;
}


.header-about-text-1 p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    width: 350px;
}


.header-img-number h1 {
    font-size: 80px;
    font-weight: 700;
    color: #5937E0;
}


.header-img-number p {
    font-weight: 700;
    font-size: 20px;
}


.header-img-numbers {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-top: 60px;
}